body {
  margin: 0;
  background-color: #ffda79;
}

.main-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.background-box {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-image: url("/image/home/home.webp");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.background-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 249, 242, 0.85);
  z-index: -1;
}
